@{
    var categories = ViewData["_data"] as IEnumerable<Category>;
}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>@ViewBag.Title</title>
  <!-- Favicon -->
  <link href="http://@Context.Request.Host/assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="http://@Context.Request.Host/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="http://@Context.Request.Host/assets/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="http://@Context.Request.Host/assets/css/argon.css?v=1.0.0" rel="stylesheet">

  @RenderSection("styles", required:false)
</head>

<body>
  <!-- Sidenav -->
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="#">
        Admin Panel
      </a>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="./assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" asp-action="dashboard">
              <i class="ni ni-tv-2 text-primary"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-action="category">
              <i class="ni ni-planet text-blue"></i> Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-action="users">
              <i class="ni ni-single-02 text-yellow"></i> Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-action="policeStations">
              <i class="ni ni-bullet-list-67 text-red"></i> Police Stations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-action="adminLists">
              <i class="ni ni-key-25 text-info"></i> Admins
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-action="tips">
              <i class="ni ni-key-25 text-info"></i> Tips
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-action="logout">
              <i class="ni ni-circle-08 text-pink"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content"><br><br><br>
    <div class="container-fluid mt--7">
      <div class="row mt-5">
        <div class="col">
        @RenderBody()  
        @RenderSection("content", required: false)
        </div>
      </div>
  </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="http://@Context.Request.Host/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="http://@Context.Request.Host/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Optional JS -->
  <script src="http://@Context.Request.Host/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="http://@Context.Request.Host/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="http://@Context.Request.Host/assets/js/argon.js?v=1.0.0"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>

  @RenderSection("scripts", required:false)
</body>

</html>