﻿@model Asp.net_Core.Models.Spy
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="http://@Context.Request.Host/css/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.min.css">
    <style>
    body{
      background-image: url(http://@Context.Request.Host/images/background_image.webp);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: relative;
    /* background-color:black;
    opacity:0.5; */
    }
h2{
    text-align: center; 
    padding: 20px 10px 20px 10px; 
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    font-size: 40px;
}
h6{
    text-align: center; 
    padding: 0px 10px 20px 10px; 
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
h3{
    text-align: center;
}

.nav-link
{
    color: blue;
    font-weight: bold;
}
.container {
    max-width: 500px;
}
#home
{
    position: relative;
    top: 200px;
    bottom: 50px;
}
.card
{
    box-shadow: 1px 1px 4px #888888;;
}
.btn
{
    font-weight: 400;
    color: white;
    background: #682038;
    display: inherit;
    text-align: center;
    padding: 10px 0px;
    width: 458px;
    margin-left: -20px;
    margin-top: 30px;
}

a{
    color: white;
}
.black-overlay
{
   position: absolute;
   background-color: #000000A0;
   width: 100%;
   height: 100%;
   z-index: -999;

}
footer {
    position: relative;
    top: 250px;
    display: flex;
    justify-content: center;
    background-color: #404142;
    color: #fff;
}
.nav-link{
    color: white !important;
}

    </style>
</head>
<body>
    <!--Navigation-->
    <div  class="black-overlay"></div>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bb-transprent sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">@ViewData["logo"]</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" asp-action="login" asp-controller="users">@ViewData["login"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="register" asp-controller="users">@ViewData["register"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="si">සිං<span class="flag-icon flag-icon-lk"></span></a> &nbsp;<a asp-action="Index">En<span class="flag-icon flag-icon-us"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="home">
        <div class="landing-text">
            <h2>@ViewData["head"]</h2>
            <h6 style="text-align: center; font-family: 'Times New Roman', Times, serif;">@ViewData["subHead"]</h6>
        </div>
      <div class="card card-outline-secondary container"style="padding:0px 0px 0px 0px">
        <div class="card-header">
            <h3 class="mb-0">@ViewData["tipHead"]</h3>
        </div>
        <div class="card-body">
            @if (TempData["success"] != null)  
            {  
                <p class="alert alert-success">@TempData["success"]</p>  
            }
            <form class="form" role="form" asp-action="tipInsert" autocomplete="off">
                <fieldset>
                    <div class="row mb-1">
                        <div class="col-lg-12">
                            <textarea rows="6" asp-for="post" class="form-control" required=""></textarea>
                        </div>
                        <span asp-validation-for="post" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-lg float-right" style="margin-top:20px">@ViewData["submitTip"]</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

    <!-- /form user info --> 
        <footer>
            <p style="font-size:12px;">© 2018 Complain Manegement System.</p>
        </footer>
</body>
</html>