@model Asp.net_Core.Models.NewAdminView 
@{
  Layout = "_Admin";
  ViewBag.Title = "Police Stations";
}
@section content{
    <a class="btn btn-primary" asp-action="allAdmin">All Admins</a>
    <form asp-action="adminLists">
        <div class="row">
            <div class="col col-md-8">
                <h2>Admin Accounts Control</h2>
                @if (TempData["success"] != null)  
                {  
                    <p class="alert alert-success">@TempData["success"]</p>  
                }
                @if (TempData["AdminLoginFailed"] != null)  
                {  
                    <p class="alert alert-danger">@TempData["AdminLoginFailed"]</p>  
                }

                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input class="form-control" asp-for="name" placeholder="Full Name">
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" asp-for="email" placeholder="Email">
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" asp-for="password" placeholder="Password">
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="nic">NIC</label>
                    <input class="form-control" asp-for="nic" placeholder="NIC">
                    <span asp-validation-for="nic" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="serviceId">Service ID</label>
                    <input class="form-control" asp-for="serviceId" placeholder="Service ID">
                    <span asp-validation-for="serviceId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" asp-for="gender">
                        <option value="false">Female</option>
                        <option value="true">Male</option>
                    </select>
                    <span asp-validation-for="gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input style="width:100%;"type="submit" class="btn btn-primary" value="Add New Admin">
                </div>
            </div>
        </div>
    </form>
}