@{
  Layout = "_Admin";
  ViewBag.Title = "All Admin Users";
}
@section styles{
  <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />  
  <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
@section content{
  <h2>Users List</h2>
    @if (TempData["success"] != null)  
    {  
        <p class="alert alert-success">@TempData["success"]</p>  
    }
  <div style="width:100%; margin:0 auto;">  
      <table id="users" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">  
          <thead>  
              <tr>  
                <th>#</th> 
                <th>Name</th>  
                <th>Service ID</th>  
                <th>Email</th>  
                <th>NIC</th>  
                <th>Delete</th>  
              </tr>  
          </thead>  
      </table>  
  </div> 
}
@section scripts{
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>  
  <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
  <script>
    $(document).ready(function ()  
    {  
        $("#users").DataTable({  
            "processing": true, // for show progress bar  
            "serverSide": true, // for process server side  
            "filter": true, // this is for disable filter (search box)  
            "orderMulti": false, // for disable multiple column at once  
            "ajax": {  
                "url": "http://@Context.Request.Host/admins/loadAdmin",  
                "type": "POST",  
                "datatype": "json"  
            },   
            "columns": [  
                { "data": "users.id", "name": "users.id", "autoWidth": true }, 
                { "data": "users.name", "name": "users.name", "autoWidth": true },  
                { "data": "admin.policeIDNum", "name": "admin.policeIDNum", "autoWidth": true },  
                { "data": "users.email", "name": "users.email", "autoWidth": true },  
                { "data": "users.nic", "name": "users.nic", "autoWidth": true },  
                { data: null, render: function (data, type, row)  
                        {  
                            return "<a href='http://@Context.Request.Host/admins/deleteAdmin/"+row.users.id+"' class='badge badge-danger' onclick=DeleteData('" + row.id + "'); >Delete</a>";  
                        }
                }  
            ]  

        });  
    });  
  </script>
}