@{
  Layout = "_Admin";
  ViewBag.Title = "Police Stations";
}
@model Asp.net_Core.Models.Category
@{
    var categories = ViewData["_data"] as IEnumerable<Category>;
}
@section content{
  <form asp-action="category">
    <div class="row">
        <div class="col-md-6">
            <h2>Insert New Category</h2>
            @if (TempData["success"] != null)  
            {  
                <p class="alert alert-success">@TempData["success"]</p>  
            }
            <div class="form-group">
                <input type="text" class="form-control" asp-for="categoryName"  placeholder="Category Name">
            </div>
            <span asp-validation-for="categoryName" class="text-danger"></span>
            <div class="form-group">
                <label>Category Color: <input type="color" asp-for="color" placeholder="Category Color"></label>
            </div>
            <span asp-validation-for="color" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" class="form-control btn btn-success" value="Insert New Category">      
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
        <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Category</th>
                <th scope="col">Color</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
        @if(categories!=null)
        {
            foreach(var item in categories)
            {
                <tr>
                    <td>@Html.DisplayFor(m=>item.Id)</td>
                    <td>@Html.DisplayFor(m=>item.categoryName)</td>
                    <td><span class="badge" style="background-color:@item.color;">Color</span></td>
                    <td><a href="" class="badge badge-danger">Delete</a></td>
                </tr>
            }
        }
    </div>
  </form>
}