@{
  Layout = "_Admin";
  ViewBag.Title = "Police Stations";
}
@{
    // Since Product isn't a string, it requires a cast.
    var complains = ViewData["complains"] as IEnumerable<AdminComplainsView>;
}
@functions{
    String status_color(String status)
    {
        switch(status)
        {
        case "Pending":
            return "warning";
        case "Processing":
            return "information";
        case "Rejected":
            return "danger";
        case "Resolved":
            return "success";
        }
        return "secondary";
    }

    String[] checkClose(bool close)
    {
      String[] _res = new string[3];
      switch(close)
      {
        case true:
          _res[0] = "danger";
          _res[1] = "Closed Complain";
          _res[2] = "disabled";
          break;
        case false:
          _res[0] = "success";
          _res[1] = "Not Closed";
          _res[2] = "";
          break;
      }
      return _res;
    }
}
@section content{
  <div class="card bg-default shadow">
    <div class="card-header bg-transparent border-0">
      <h3 class="text-white mb-0">Complains</h3>
    </div>
    <div class="table-responsive">
      <table class="table align-items-center table-dark table-flush">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Complained Date</th>
            <th scope="col">Closed?</th>
            <th scope="col">Last Updated</th>
            <th scope="col">User Name</th>
            <th scope="col">Pro Pic</th>
            <th scope="col">Nearest Police Station</th>
            <th scope="col">Category</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
      <tbody>

            @{

                foreach (var item in complains)
                {
                    <tr>
                        <td>@Html.DisplayFor(m=>item.complainVm.Id)</td>
                        <td>@Html.DisplayFor(m=>item.complainVm.date)</td>
                        <td><span class="btn bg-@checkClose(item.complainVm.close_complain)[0] btn-xs @checkClose(item.complainVm.close_complain)[2]">@checkClose(item.complainVm.close_complain)[1]</span></td>
                        <td>@Html.DisplayFor(m=>item.complainVm.last_updated)</td>
                        <td>@Html.DisplayFor(m=>item.userVm.name)</td>
                        <td>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="@Html.DisplayFor(m=>item.userVm.name)">
                                <img alt="Image placeholder" style="width:50px; height:50px;" src="http://@Context.Request.Host/profile_pics/@Html.DisplayFor(m=>item.userVm.pro_pic)" class="rounded-circle">
                            </a>
                        </td>
                        <td>@Html.DisplayFor(m=>item.stationVm.name)</td>
                        <td>@Html.DisplayFor(m=>item.categoryVm.categoryName)</td>
                        <td><span class="badge badge-dot"><i class="bg-@status_color(item.complainVm.status)"></i>@Html.DisplayFor(m=>item.complainVm.status)</span></td>
                        <td class="text-right">
                          <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                              <a class="dropdown-item" asp-action="viewComplain" asp-route-id="@item.complainVm.Id">View</a>
                            </div>
                          </div>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
  </div>
}