@model Asp.net_Core.Models.LoginView
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="http://@Context.Request.Host/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
        <title>Login</title>
        
    </head>
    <body>
        <div class="row h-100">
            <div class="col-md-4 mx-auto my-auto">

                <!-- form card login -->
                <div class="card rounded-0">
                    <div class="card-header">
                        <h3 class="mb-0">Admin Login</h3>
                    </div>
                    <div class="card-body">
                        <form class="form" role="form" asp-action="login">
                            @if (TempData["AdminLoginFailed"] != null)  
                            {  
                                <p class="alert alert-danger">@TempData["AdminLoginFailed"]</p>  
                            }
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control form-control-md rounded-0" asp-for="email" required="">
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input asp-for="password" type="password" class="form-control form-control-md rounded-0"  required="">
                                 <span asp-validation-for="password" class="text-danger"></span>
                            </div>
                            
                            <button type="submit" style="width:100%" class="btn btn-success btn-md float-center" id="btnLogin">Login</button>
                        </form>
                    </div>
                    <!--/card-block-->
                </div>
                <!-- /form card login -->

            </div>


        </div>
        <!--/row-->

<!--/container-->
    </body>
</html>