@model Asp.net_Core.Models.PoliceStations
@{
  Layout = "_Admin";
  ViewBag.Title = "Police Stations";
}
@section styles{
  <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />  
  <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
@section content{
    @if(ViewData["editData"]==null)
    {
        <form asp-action="policeStations">
            <div class="row">
                <div class="col-md-6">
                    <h2>Insert Police Station</h2>
                    @if (TempData["success"] != null)  
                    {  
                        <p class="alert alert-success">@TempData["success"]</p>  
                    }
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="name"  placeholder="Police Station">
                    </div>
                    <span asp-validation-for="name" class="text-danger"></span>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-success" value="Insert">      
                    </div>
                </div>
            </div>
        </form>
    }else
    {
        <form asp-action="updatePoliceStations" asp-route-id="@Model.Id">
            <div class="row">
                <div class="col-md-6">
                    <h2>Update Police Station Name</h2>
                    @if (TempData["success"] != null)  
                    {  
                        <p class="alert alert-success">@TempData["success"]</p>  
                    }
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="name"  placeholder="Police Station">
                    </div>
                    <span asp-validation-for="name" class="text-danger"></span>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-primary" value="Update">      
                    </div>
                    <input type="hidden" value="@Model.Id">
                </div>
            </div>
        </form>
    }
  
  <div class="row">
    <div style="width:100%; margin:0 auto;">  
      <table id="policeStations" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">  
          <thead>  
              <tr>  
                  <th>#</th> 
                  <th>Police Station Name</th>  
                  <th>Edit</th> 
              </tr>  
          </thead>  
      </table>  
    </div> 
  </div>
}

@section scripts{
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>  
  <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
  <script>
    $(document).ready(function ()  
    {  
        $("#policeStations").DataTable({  
            "processing": true, // for show progress bar  
            "serverSide": true, // for process server side  
            "filter": true, // this is for disable filter (search box)  
            "orderMulti": false, // for disable multiple column at once  
            "ajax": {  
                "url": "http://@Context.Request.Host/admins/loadPolice",  
                "type": "POST",  
                "datatype": "json"  
            },   
            "columns": [  
                { "data": "id", "name": "id", "autoWidth": true }, 
                { "data": "name", "name": "name", "autoWidth": true },
                { data: null, render: function (data, type, row)  
                        {  
                            return "<a href='http://@Context.Request.Host/admins/policeStations/"+row.id+"' class='badge badge-primary' onclick=DeleteData('" + row.CustomerID + "'); >Edit</a>";  
                        }
                }  
            ]  

        });  
    });  
  </script>
}