@{
  Layout = "_Admin";
  ViewBag.Title = "Police Stations";
}
@section styles{
  <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />  
  <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
@section content{
    <div class="row">
        <div style="width:100%; margin:0 auto;">  
            @if (TempData["success"] != null)  
            {  
                <p class="alert alert-success">@TempData["success"]</p>  
            }
            <table id="policeStations" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">  
                <thead>  
                    <tr>  
                        <th>#</th> 
                        <th>Tip</th>  
                        <th>Date</th> 
                        <th>Delete</th>
                    </tr>  
                </thead>  
            </table>  
        </div> 
    </div>
}
@section scripts{
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>  
  <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
  <script>
    $(document).ready(function ()  
    {  
        $("#policeStations").DataTable({  
            "processing": true, // for show progress bar  
            "serverSide": true, // for process server side  
            "filter": true, // this is for disable filter (search box)  
            "orderMulti": false, // for disable multiple column at once  
            "ajax": {  
                "url": "http://@Context.Request.Host/admins/loadTips",  
                "type": "POST",  
                "datatype": "json"  
            },   
            "columns": [  
                { "data": "id", "name": "id", "autoWidth": true }, 
                { "data": "post", "name": "post", "autoWidth": true },
                { "data": "date", "name": "date", "autoWidth": true },
                { data: null, render: function (data, type, row)  
                        {  
                            return "<a href='http://@Context.Request.Host/admins/deleteSpy/"+row.id+"' class='badge badge-danger' >Delete</a>";  
                        }
                }  
            ]  

        });  
    });  
  </script>
}