@{
  Layout = "_Admin";
  ViewBag.Title = "Police Stations";
}
@model Asp.net_Core.Models.Category
@{
    var categories = ViewData["_data"] as IEnumerable<Category>;
}
@section styles{
  <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />  
  <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
@section content{
  <h2>Users List</h2>
  <div style="width:100%; margin:0 auto;">  
      <table id="users" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">  
          <thead>  
              <tr>  
                  <th>#</th> 
                  <th>Name</th>  
                  <th>Address</th>  
                  <th>Email</th>  
                  <th>NIC</th>  
                  <th>Civil Status</th>  
                  <th>Delete</th>  
              </tr>  
          </thead>  
      </table>  
  </div> 
}
@section scripts{
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>  
  <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
  <script>
    $(document).ready(function ()  
    {  
        $("#users").DataTable({  
            "processing": true, // for show progress bar  
            "serverSide": true, // for process server side  
            "filter": true, // this is for disable filter (search box)  
            "orderMulti": false, // for disable multiple column at once  
            "ajax": {  
                "url": "http://@Context.Request.Host/admins/loadUsers",  
                "type": "POST",  
                "datatype": "json"  
            },   
            "columns": [  
                { "data": "id", "name": "id", "autoWidth": true }, 
                { "data": "name", "name": "name", "autoWidth": true },  
                { "data": "address", "name": "address", "autoWidth": true },  
                { "data": "email", "name": "email", "autoWidth": true },  
                { "data": "nic", "name": "nic", "autoWidth": true },  
                { "data": "civil_status", render: function (data, type, row)  
                    {  
                        return (row.civil_status==="true") ? "Married" : "Single";  
                    }
                },
                { data: null, render: function (data, type, row)  
                        {  
                            return "<a href='http://@Context.Request.Host/admins/deleteUser/"+row.id+"' class='badge badge-danger' onclick=DeleteData('" + row.id + "'); >Delete</a>";  
                        }
                }  
            ]  

        });  
    });  
  </script>
}
