@{
  Layout = "_Admin";
  ViewBag.Title = "Police Stations";
}
@model Asp.net_Core.Models.ComplainUpdate 
@{
    // Since Product isn't a string, it requires a cast.
    var complains = ViewData["complain"] as AdminComplainsView;
}
@functions{
    String status_color(String status)
    {
        switch(status)
        {
        case "Pending":
            return "warning";
        case "Processing":
            return "info";
        case "Rejected":
            return "danger";
        case "Resolved":
            return "success";
        }
        return "secondary";
  }

  String[] checkClose(bool close)
  {
    String[] _res = new string[3];
    switch(close)
    {
      case true:
        _res[0] = "purple";
        _res[1] = "Closed Complain";
        _res[2] = "disabled";
        break;
      case false:
        _res[0] = "maroon";
        _res[1] = "Not Closed";
        _res[2] = "";
        break;
    }
    return _res;
  }
}
@section styles{
  <style>
  .table-style{
      padding: 5px;
    }
    .bold-me{
      font-weight: bold;
      padding-right:8px;
    }
    .complain-div{
      padding: 8px;
      background-color: #e2e2e2;
      border-style: solid;
      border-width: 1px;
      border-radius: 8px 8px 0px 0px;
      margin: 5px;
    }
    .complain-header
    {
      color:#FFFFFF ;
      font-weight: bold;
      font-size: 16px;
      border-style: solid;
      border-radius: 8px 8px 0px 0px;
      border-color: #282828;
      text-align: center;
      background-color: #282828;
      margin:-9px;
      border-width: 1px;
    }
    .complain-body
    {
      margin-top:8px;
      color: #000;
    }
    .complain-response
    {
      padding: 8px;
      background-color: #bfbfbf;
      border-style: solid;
      border-radius:0px 0px 8px 8px;
      border-width: 1px;
      margin: 5px;
    }
    </style>
}

@section content{
  <br>
    <div class="card-view" id="report">
        <table>
            <tbody>

                <tr>
                    <td align="right" class="table-style bold-me">
                        Id:
                    </td>
                    <td class="table-style">
                        @complains.complainVm.Id
                    </td>
                </tr>

                <tr>
                    <td align="right" class="table-style bold-me">
                        Complainer Email:
                    </td>
                    <td class="table-style">
                        @complains.userVm.email
                    </td>
                </tr>

                <tr>
                    <td align="right" class="table-style bold-me">
                        Complainer Name:
                    </td>
                    <td class="table-style">
                        @complains.userVm.name
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table-style bold-me">
                        Category:
                    </td>
                    <td class="table-style">
                        <span class="badge" style="background-color:@complains.categoryVm.color; color:white;">@complains.categoryVm.categoryName</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table-style bold-me">
                        Status:
                    </td>
                    <td class="table-style">
                        <span class="badge badge-@status_color(complains.complainVm.status)">@complains.complainVm.status</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table-style bold-me">
                        Closed or Not:
                    </td class="table-style">
                    <td>
                        <span class="badge" style="background-color:@checkClose(@complains.complainVm.close_complain)[0]; color:white;" @checkClose(@complains.complainVm.close_complain)[2]>@checkClose(@complains.complainVm.close_complain)[1]</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table-style bold-me">
                        Nearest Police Station:
                    </td>
                    <td class="table-style">
                        @complains.stationVm.name
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table-style bold-me">
                        More Details (Document):
                    </td>
                    <td class="table-style">
                        <a href="http://@Context.Request.Host/complainFiles/@complains.complainVm.document_link">Download</a>
                    </td>
                </tr>
                <tr>
                    <td align="right" class="table-style bold-me">
                        <button style="width:100%" class="btn btn-primary" id="generate" value="PDF">PDF</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="complain-div">
          <p class="complain-header">Complain Description</p>
          <p class="complain-body">@complains.complainVm.complain</p>
        </div>
        <div class="complain-response">
          <form asp-action="updateComplain">
            <input asp-for="id" type="hidden">
            <div class="form-group">
              <select asp-for="status" class="form-control">
                <option value="Pending">Pending</option>
                <option value="Processing">Processing</option>
                <option value="Rejected">Rejected</option>
                <option value="Resolved">Resolved</option>
              </select>
            </div>
            <div class="form-group">
              <textarea asp-for="message" class="form-control" rows="3" placeholder="Your action for this complain..."></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </form>
        </div>
        <div>

        </div>
    </div>
}
@section scripts{
    <script>
        var doc = new jsPDF('p','pt','a4');

        $("#generate").click(function () {   
            doc.fromHTML($("#report").html(), 15, 15, {
                'width': 170
            });
            doc.save('sample-file.pdf');
        });
    </script>
}
