.bg_image {
	background-image: url("../images/background_img.webp");
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
}

.white-text {
	color: #fff !important;
}

.mb-0 {
	text-align: center;
}
.paranew {
	float: right;
}
.acc1 {
	margin-left: 50px;
}
.card-view {
	box-shadow: 1px 1px 1px 1px #888888;
}
@media only screen and (max-width: 360px) {
	.btn {
		font-weight: 400;
		color: white;
		background: #682038;
		display: inherit;
		text-align: center;
		padding: 10px 0px;
		width: 281px;
		margin-left: -20px;
		margin-top: 30px;
	}
}
@media only screen and (min-width: 361px) and (max-width: 640px) {
	.btn {
		font-weight: 400;
		color: white;
		background: #682038;
		display: inherit;
		text-align: center;
		padding: 10px 0px;
		width: 333px;
		margin-left: -20px;
		margin-top: 30px;
	}
}
