.<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .footer-foot
        {
            position: absolute;
            bottom: 10px;
            color: #fff;
            text-align: center;
            font-size: 12px;
            width: 100%;
        }
        .black-overlay
        {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -999;
            margin-top: -24px;
            background-color: #00000077;
        }
        body{
            background-image: url("../images/background_image.webp");
            background-size: cover;
        }
        .centerDiv
        {
            position:absolute;
            text-align: center;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
        }
        .header-style
        {
            font-size: 30px;
            color: #fff;
            font-weight: bold;
        }
        a{
            color: #fff;
        }
    </style>
  </head>
  <body>
      <div class="black-overlay"></div>
        <div class="centerDiv row">
            <div class="col col-md-12">
                @if (TempData["sendSuccess"] != null)  
                {  
                    <p class="alert alert-danger">@TempData["sendSuccess"]</p>  
                }
                @if (TempData["error"] != null)  
                {  
                    <p class="alert alert-danger">@TempData["error"]</p>  
                }

                <p class="header-style">Enter the activation code</p>
                <form method="POST" asp-action="EmailActive">
                    <input name="code" class="form-control" type="text" placeholder="Activation Code" style="width:100%;">
                    <input name="email" type="hidden" value='@ViewData["email"]'>
                    <input type="submit" class="btn btn-success" style="width:100%; margin-top:10px;">
                </form>
                <a asp-action="resendEmail" asp-route-email='@ViewData["email"]'>If you didn't recieved activation code. Click here to resend it.</a>
            </div>
        </div>
        <footer class="footer-foot">
            © 2018 Complain Manegement System.
        </footer>
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>