@model Asp.net_Core.Models.Category
 
@{
    // Since Product isn't a string, it requires a cast.
    var complains = ViewData["complains"] as IEnumerable<AdminComplainsView>;
    var user = ViewData["user_"] as Users;
    <!-- var status_color -->
}

@functions 
{
  String status_color(String status)
  {
    switch(status)
    {
      case "Pending":
        return "warning";
      case "Processing":
        return "info";
      case "Rejected":
        return "danger";
      case "Resolved":
        return "success";
    }
    return "secondary";
  }

  String[] checkClose(bool close)
  {
    String[] _res = new string[3];
    switch(close)
    {
      case true:
        _res[0] = "purple";
        _res[1] = "Closed Complain";
        _res[2] = "disabled";
        break;
      case false:
        _res[0] = "maroon";
        _res[1] = "Close Complain";
        _res[2] = "";
        break;
    }
    return _res;
  }
}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Complain Managemnet</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="http://@Context.Request.Host/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/AdminLTE.min.css">
  
  <link rel="stylesheet" href="http://@Context.Request.Host/css/skin-blue.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <link rel="stylesheet" href="http://@Context.Request.Host/css/main.css">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>C</b>MS</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Dashboard</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a asp-action="changeLanguage" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-language"></i>
            </a>
          </li>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img style="width:40px; height:40px;" src="http://@Context.Request.Host/profile_pics/@user.pro_pic" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>@user.name</p>
        </div>
      </div>


      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">OPTIONS</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a asp-action="Home"><i class="glyphicon glyphicon-th-list"></i> <span>Complains</span></a></li>
        <li><a asp-action="NewComplain"><i class="glyphicon glyphicon-plus"></i> <span>New Complain</span></a></li>
        <li><a asp-action="Profile"><i class="glyphicon glyphicon-user"></i> <span>Profile</span></a></li>
        <li><a asp-action="logout"><i class="glyphicon glyphicon-log-out"></i> <span>Logout</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Complains 
        <small>Add new complain and see your complain list</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Complains</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
 
      <!--------------------------
        | Your Page Content Here |
        -------------------------->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                <tr>
                  <th>ComplainID</th>
                  <th>Date</th>
                  <th>Last Updated</th>
                  <th>Category</th>
                  <th>Nearest Police Station</th>
                  <th>Status</th>
                  <th>View Details</th>
                  <th>Action</th>
                </tr>
                 @{
                  if(complains==null)
                  {

                  }else{
                    foreach (var item in complains)
                    {
                      <tr>
                        @Html.DisplayFor(m=>item.userVm.name)
                        <td>@Html.DisplayFor(m=>item.complainVm.Id)</td>
                        <td>@Html.DisplayFor(m=>item.complainVm.date)</td>
                        <td>@Html.DisplayFor(m=>item.complainVm.last_updated)</td>
                        <td><span class="label" style="background-color:@item.categoryVm.color !important;">@Html.DisplayFor(m=>item.categoryVm.categoryName)</span></td>
                        <td>@Html.DisplayFor(m=>item.stationVm.name)</td>
                        <td><span class="label label-@status_color(item.complainVm.status)">@Html.DisplayFor(m=>item.complainVm.status)</span></td>
                        <td><a asp-action="ViewComplain" asp-route-id="@item.complainVm.Id" class="btn bg-navy btn-xs">View</a></td>
                        <td><a onclick="return confirm('Are you sure?');" asp-action="CloseComplain" asp-route-id="@item.complainVm.Id" class="btn bg-@checkClose(item.complainVm.close_complain)[0] btn-xs @checkClose(item.complainVm.close_complain)[2]">@checkClose(item.complainVm.close_complain)[1]</a></td>
                      </tr>
                    }
                  }
                }
               
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Assignment
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="#">Complain Management System</a>.</strong> All rights reserved.
  </footer>


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="http://@Context.Request.Host/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="http://@Context.Request.Host/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="http://@Context.Request.Host/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>