@model IEnumerable<Asp.net_Core.Models.Users>

<h1>Users List</h1>
<hr>

<a asp-action="Create" class="btn btn-primary">Create</a>
<br>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(m=>m.name)</th>
        <th>@Html.DisplayNameFor(m=>m.email)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m=>item.name)
            </td>
            <td>
                @Html.DisplayFor(m=>item.email)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
            <td>
                <a asp-action="View" asp-route-id="@item.Id" class="btn btn-sm btn-primary">View</a>
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-success">Update</a>
            </td>
        </tr>
    }
    

</table>