@model Asp.net_Core.Models.LoginView
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/blue.css">

  <link rel="stylesheet" href="http://@Context.Request.Host/css/main.css">

  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <style>
    .footer-foot
    {
        position: absolute;
        bottom: 10px;
        color: #fff;
        text-align: center;
        font-size: 12px;
        width: 100%;
    }
  </style>
</head>
<body class="hold-transition login-page bg_image" >
<div class="login-box">
  <div class="login-logo">
    <a class="white-text" href="#"><b>Complain Management System</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form asp-action="Login">
        @if (TempData["AdminLoginFailed"] != null)  
        {  
            <p class="alert alert-danger">@TempData["AdminLoginFailed"]</p>  
        }
        @if (TempData["AdminRegisterSuccess"] != null)  
        {  
            <p class="alert alert-success">@TempData["AdminRegisterSuccess"]</p>  
        }
      <div class="form-group has-feedback">
        <input type="email" asp-for="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <span asp-validation-for="email" class="text-danger"></span>
      <div class="form-group has-feedback">
        <input type="password" asp-for="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <span asp-validation-for="password" class="text-danger"></span>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="#">I forgot my password</a><br>
    <a asp-action="Register" class="text-center">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<footer class="footer-foot">
    © 2018 Complain Manegement System.
</footer>
<!-- jQuery 3 -->
<script src="http://@Context.Request.Host/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="http://@Context.Request.Host/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="http://@Context.Request.Host/js/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>
</body>
</html>