@model Asp.net_Core.Models.Complains
@{
    // Since Product isn't a string, it requires a cast.
    var category = ViewData["category"] as IEnumerable<Category>;
    var locations = ViewData["locations"] as IEnumerable<PoliceStations>;
    var user = ViewData["user_"] as Users;
    // Since Product isn't a string, it requires a cast.
    //var complains = ViewData["complains"] as IEnumerable<Complains>;
}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard - Complain Management System</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="http://@Context.Request.Host/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/AdminLTE.min.css">
  
  <link rel="stylesheet" href="http://@Context.Request.Host/css/skin-blue.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <link rel="stylesheet" href="http://@Context.Request.Host/css/main.css">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Dashboard</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">


      <div class="user-panel">
        <div class="pull-left image">
          <img style="width:40px; height:40px;" src="http://@Context.Request.Host/profile_pics/@user.pro_pic" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>@user.name</p>
        </div>
      </div>>


      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">OPTIONS</li>
        <!-- Optionally, you can add icons to the links -->
        <li><a asp-action="Home"><i class="glyphicon glyphicon-th-list"></i> <span>Complains</span></a></li>
        <li class="active"><a asp-action="NewComplain"><i class="glyphicon glyphicon-plus"></i> <span>New Complain</span></a></li>
        <li><a asp-action="Profile"><i class="glyphicon glyphicon-user"></i> <span>Profile</span></a></li>
        <li><a asp-action="logout"><i class="glyphicon glyphicon-log-out"></i> <span>Logout</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        @ViewData["headTitle"]
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">New Complain</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">


        <div class="row">
            <div class="col-md-6">
                @if (TempData["SuccessInserted"] != null)  
                {  
                    <p class="alert alert-success">@TempData["SuccessInserted"]</p>  
                }
                @if (TempData["DangerInserted"] != null)  
                {  
                    <p class="alert alert-danger">@TempData["DangerInserted"]</p>  
                }
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">@ViewData["subTitle"]</h3>
                    </div>
                        <form asp-action="NewComplain" enctype="multipart/form-data">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>@ViewData["complain"]</label>
                                    <textarea asp-for="complain" class="form-control" rows="3" placeholder='@ViewData["complain_placeHolder"]'></textarea>
                                </div>
                                <span asp-validation-for="complain" class="text-danger"></span>
                                <div class="form-group">
                                    <label>@ViewData["CategoryMsg"]</label>
                                    <select asp-for="category_id" class="form-control">
                                        @foreach (var item in category)
                                        {
                                            <option value="@item.Id">@Html.DisplayFor(m=>item.categoryName)</option> 
                                        }
                                       
                                    </select>
                                </div>
                                <span asp-validation-for="category_id" class="text-danger"></span>
                                <div class="form-group">
                                    <label>@ViewData["nearest"]</label>
                                    <select asp-for="nearest_police_station" class="form-control">
                                        @foreach (var item in locations)
                                        {
                                            <option value="@item.Id">@Html.DisplayFor(m=>item.name)</option> 
                                        }          
                                    </select>
                                </div>
                                <span asp-validation-for="nearest_police_station" class="text-danger"></span>

                                <div class="form-group">
                                  <label>PDF(<small> @ViewData["pdf"] </small>)</label>
                                  <input type="file" name="files" class="form-control">
                                </div>
                                <label><small class="text-warning">@ViewData["video"]</small></label>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Insert</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <a asp-action="newComplainSi">සිංහල</a> / <a asp-action="NewComplain">English</a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="#">Complain Management System</a>.</strong> All rights reserved.
  </footer>


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="http://@Context.Request.Host/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="http://@Context.Request.Host/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="http://@Context.Request.Host/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>