@model Asp.net_Core.Models.Users

@{
    // Since Product isn't a string, it requires a cast.
    var category = ViewData["categories"] as IEnumerable<Category>;
    //var user = ViewData["user_"] as Users;
}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard - Complain Management System</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="http://@Context.Request.Host/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/AdminLTE.min.css">
  
  <link rel="stylesheet" href="http://@Context.Request.Host/css/skin-blue.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <link rel="stylesheet" href="http://@Context.Request.Host/css/main.css">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue  sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Dashboard</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img style="width:40px; height:40px;" src="http://@Context.Request.Host/profile_pics/@Model.pro_pic" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>@Model.name</p>
        </div>
      </div>


      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">OPTIONS</li>
        <!-- Optionally, you can add icons to the links -->
        <li><a asp-action="Home"><i class="glyphicon glyphicon-th-list"></i> <span>Complains</span></a></li>
        <li><a asp-action="NewComplain"><i class="glyphicon glyphicon-plus"></i> <span>New Complain</span></a></li>
        <li class="active"><a asp-action="Profile"><i class="glyphicon glyphicon-user"></i> <span>Profile</span></a></li>
        <li><a asp-action="logout"><i class="glyphicon glyphicon-log-out"></i> <span>Logout</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User Profile 
        <small>Update your details</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User Profile</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="row">
            <div class="col col-sm-4">
                <div class="box box-success">
                    <div class="box-body box-profile">
                        <img style="width:100px; height:100px;" class="profile-user-img img-responsive img-circle" src="http://@Context.Request.Host/profile_pics/@Model.pro_pic" alt="User profile picture">
                        <h3 class="profile-username text-center">@Model.name</h3>
                        <form method="POST" asp-action="changePassword">
                            @if (TempData["pswrd_error"] != null)  
                            {  
                                <p class="alert alert-danger">@TempData["pswrd_error"]</p>  
                            }
                            @if (TempData["pswrd_success"] != null)  
                            {  
                                <p class="alert alert-success">@TempData["pswrd_success"]</p>   
                            }
                            <div class="form-group">
                                <label>Current Password</label>
                                <input placeholder="Current Password" name="old" class="form-control" type="password">
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input placeholder="New Password" name="newPswrd" class="form-control" type="password">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="form-control btn-success" value="Change Password">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-sm-8">
                <div class="box box-primary">
                    <div class="box-body">
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data" asp-action="Profile" >
                            @if (TempData["update_success"] != null)  
                            {  
                                <p class="alert alert-success">@TempData["update_success"]</p>   
                            }
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="name" class="form-control"  placeholder="Name">
                                </div>
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email"  value="@Model.email" class="form-control" disabled  placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Nearest Police Station</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="nearest_police_station" class="form-control" placeholder="Nearest Police Station">
                                </div>
                                <span asp-validation-for="nearest_police_station" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputExperience" class="col-sm-2 control-label">Profile Picture</label>
                                <div class="col-sm-10">
                                    <input type="file" name="files" class="form-control">
                                    @if (TempData["image_error"] != null)  
                                    {  
                                        <p class="text-danger">@TempData["image_error"]</p>  
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="address" class="form-control" id="inputSkills" placeholder="Adress">
                                </div>
                                <span asp-validation-for="address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-2 control-label">Civil Status</label>
                                <div class="col-sm-10">
                                    <select asp-for="civil_status" class="form-control">
                                        <option value="true">Married</option>
                                        <option value="false">Single</option>
                                    </select>
                                </div>
                                <span asp-validation-for="civil_status" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-2 control-label">Gender</label>
                                <div class="col-sm-10">
                                    <select asp-for="gender" class="form-control">
                                        <option value="true">Male</option>
                                        <option value="false">Female</option>
                                    </select>
                                </div>
                                <span asp-validation-for="gender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-2 control-label">Nic</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="nic" class="form-control" placeholder="NIC Number">
                                </div>
                                <span asp-validation-for="nic" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <input type="hidden" asp-for="Id">
                                <input type="hidden" asp-for="password">
                                <input type="hidden" asp-for="email">
                                <input type="hidden" asp-for="pro_pic">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Assignment
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="#">Complain Management System</a>.</strong> All rights reserved.
  </footer>


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="http://@Context.Request.Host/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="http://@Context.Request.Host/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="http://@Context.Request.Host/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>