@model Asp.net_Core.Models.RegisterView
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Registration Page</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/blue.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <link rel="stylesheet" href="http://@Context.Request.Host/css/main.css">

  <style>
    .footer-foot
    {
        position: absolute;
        bottom: 10px;
        color: #fff;
        text-align: center;
        font-size: 12px;
        width: 100%;
    }
  </style>
</head>
<body class="hold-transition register-page bg_image">
<div class="register-box">
  <div class="register-logo">
    <a class="white-text" href="#"><b>Complain Management System</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <form asp-action="Register">
        @if (TempData["AdminLoginFailed"] != null)  
        {  
            <p class="alert alert-danger">@TempData["AdminLoginFailed"]</p>  
        }
      <div class="form-group has-feedback">
        <input asp-for="name" type="text" class="form-control" placeholder="Full name" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <span asp-validation-for="name" class="text-danger"></span>
      <div class="form-group has-feedback">
        <input asp-for="email" type="email" class="form-control" placeholder="Email" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <span asp-validation-for="email" class="text-danger"></span>
      <div class="form-group has-feedback">
        <input asp-for="password" type="password" class="form-control" placeholder="Password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <span asp-validation-for="password" class="text-danger"></span>
      <div class="form-group has-feedback">
        <input asp-for="confirmPassword" type="password" class="form-control" placeholder="Retype password" required>
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <span asp-validation-for="confirmPassword" class="text-danger"></span>
      <div class="form-group has-feedback">
        <input asp-for="gender" type="radio" name="gender" value="true" required> Male<br>
        <input asp-for="gender" type="radio" name="gender" value="false" required> Female
      </div>
      <span asp-validation-for="gender" class="text-danger"></span>
      <div class="form-group has-feedback">
        <input asp-for="nic" type="text" class="form-control" placeholder="NIC Number" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <span asp-validation-for="nic" class="text-danger"></span>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input asp-for="accept" type="checkbox" required> I agree to the <a href="#">terms</a>
              <span asp-validation-for="accept" class="text-danger"></span>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a asp-action="Login"  class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
<footer class="footer-foot">
    © 2018 Complain Manegement System.
</footer>
<!-- jQuery 3 -->
<script src="http://@Context.Request.Host/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="http://@Context.Request.Host/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="http://@Context.Request.Host/js/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>
</body>
</html>