@model Asp.net_Core.Models.Users

<h1>Update User</h1>
<form asp-action="Update">
    <div class="row form-border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                    <label asp-for="name"></label>
                </div>
                <div class="col-sm-4">
                    <input type="text" asp-for="name" class="form-control">
                </div>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <label asp-for="email"></label>
                </div>
                <div class="col-sm-4">
                    <input type="email" asp-for="email" class="form-control">
                </div>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <label asp-for="password"></label>
                </div>
                <div class="col-sm-4">
                    <input type="password" asp-for="password" class="form-control">
                </div>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-brimary">
            <input type="submit" asp-action="index" value="Back to list" class="btn btn-brimary">
        </div>
    </div>
</form>