@model Asp.net_Core.Models.Users

<h1>Add New User</h1>
    <div class="row form-border">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                    <label asp-for="name"></label>
                </div>
                <div class="col-sm-4">
                    <input type="text" disabled asp-for="name" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <label asp-for="email"></label>
                </div>
                <div class="col-sm-4">
                    <input type="email" disabled asp-for="email" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <label asp-for="password"></label>
                </div>
                <div class="col-sm-4">
                    <input type="text" disabled asp-for="password" class="form-control">
                </div>
            </div>
        </div>
    </div>
