@{
    // Since Product isn't a string, it requires a cast.
    var complains = ViewData["complain"] as ComplainView;
    var user = ViewData["user_"] as Users;
    <!-- var status_color -->
}

@functions 
{
  String status_color(String status)
  {
    switch(status)
    {
      case "Pending":
        return "warning";
      case "Processing":
        return "info";
      case "Rejected":
        return "danger";
      case "Resolved":
        return "success";
    }
    return "secondary";
  }

  String[] checkClose(bool close)
  {
    String[] _res = new string[3];
    switch(close)
    {
      case true:
        _res[0] = "purple";
        _res[1] = "Closed Complain";
        _res[2] = "disabled";
        break;
      case false:
        _res[0] = "maroon";
        _res[1] = "Close Complain";
        _res[2] = "";
        break;
    }
    return _res;
  }
}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Complain Managemnet</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="http://@Context.Request.Host/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="http://@Context.Request.Host/css/AdminLTE.min.css">
  
  <link rel="stylesheet" href="http://@Context.Request.Host/css/skin-blue.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <link rel="stylesheet" href="http://@Context.Request.Host/css/main.css">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Dashboard</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img style="width:40px; height:40px;" src="http://@Context.Request.Host/profile_pics/@user.pro_pic" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>@user.name</p>
        </div>
      </div>


      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">OPTIONS</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a asp-action="Home"><i class="glyphicon glyphicon-th-list"></i> <span>Complains</span></a></li>
        <li><a asp-action="NewComplain"><i class="glyphicon glyphicon-plus"></i> <span>New Complain</span></a></li>
        <li><a asp-action="Profile"><i class="glyphicon glyphicon-user"></i> <span>Profile</span></a></li>
        <li><a asp-action="logout"><i class="glyphicon glyphicon-log-out"></i> <span>Logout</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Complain View 
        <small>View your complain</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a asp-action="Home">Complains</a></li>
        <li class="active">View</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
 
      <!--------------------------
        | Your Page Content Here |
        -------------------------->
    <div class="row">

        <div class="col-xs-12" id="report">
            <div class="box">
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Complain ID:</dt>
                            <dd>@complains.complainVm.Id</dd>
                        <dt>Complained Date:</dt>
                            <dd>@complains.complainVm.date</dd>
                        <dt>Last Updated:</dt>
                            <dd>@complains.complainVm.last_updated</dd>
                        <dt>Nearest Police Station:</dt>
                            <dd>@complains.stationVm.name</dd>
                        <dt>Category:</dt>
                            <dd><span class="label" style="background-color:@complains.categoryVm.color !important;">@Html.DisplayFor(m=>complains.categoryVm.categoryName)</span></dd>
                        <dt>Complain Status:</dt>
                            <dd><span class="label label-@status_color(complains.complainVm.status)">@complains.complainVm.status</span></dd>
                        <br><dt>Close Your Complain:</dt>
                            <dd><a asp-action="CloseComplain" asp-route-id="@complains.complainVm.Id" class="btn bg-@checkClose(complains.complainVm.close_complain)[0] btn-xs @checkClose(complains.complainVm.close_complain)[2]">@checkClose(complains.complainVm.close_complain)[1]</a></dd>
                        <br><dt><input id="generate" type="button" class="btn btn-primary" value="PDF" style="width:100%"></dt>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><b>Complain</b></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @complains.complainVm.complain
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><b>Action Description</b></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @complains.complainVm.status_detail
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      සිංහල/English
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="#">Complain Management System</a>.</strong> All rights reserved.
  </footer>


<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="http://@Context.Request.Host/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="http://@Context.Request.Host/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="http://@Context.Request.Host/js/adminlte.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
<script>
    var doc = new jsPDF('p','pt','a4');

    $("#generate").click(function () {   
        doc.fromHTML($("#report").html(), 15, 15, {
            'width': 170
        });
        doc.save('sample-file.pdf');
    });
</script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>